@media screen and (max-width: 1199px) {
    header .header {
        gap: 30px;
    }
    header .btn-header {
        gap: 30px;
    }
    header .btn-header .nav-lk-lang {
        gap: 10px;
    }
    header .header {
        grid-template-columns: repeat(2, 1fr);
    }
    header .btn-header {
        grid-column: 1/3;
        justify-content: center;
    }
    header nav ul {
        justify-content: end;
    }
    .welcomeBlock .welcomeBlockMain .h1 {
        font-size: 55px;
    }
    .welcomeBlock .welcomeBlockMain .h2 {
        font-size: 28px;
        margin-bottom: 70px;
    }
    .welcomeBlock .welcomeBlockMain {
        width: 50%;
    }
    .payment .paymentMain .info-block {
        grid-template-columns: repeat(2, 1fr);
    }
    .freeGuide .info-block-guide {
        gap: 50px;
    }
    .freeGuide {
        padding: 50px;
    }
}
@media screen and (max-width: 991px) {
    .welcomeBlock .welcomeBlockMain .h2 {
        margin-bottom: 50px;
    }
    .welcomeBlock .welcomeBlockMain .h1 {
        margin-bottom: 20px;
    }
    .welcomeBlock .welcomeBlockMain {
        width: 60%;
    }
    .title {
        width: 100%;
    }
    .featuresOfUse .featuresOfUseMain .info-block {
        grid-template-columns: 1fr;
    }
    .featuresOfUse .featuresOfUseMain .info-block .block.img-block {
        width: 60%;
        margin: 0 auto;
    }
    .work .workMain .info-block {
        display: none;
    }
    .work .workMain .work-carousel-main {
        display: block;
    }
    .work .workMain .info-block .item .textBlock p,
    .work .workMain .work-carousel .item .textBlock p {
        font-size: 15px;
    }
    .freeGuide .info-block-guide {
        gap: 30px;
        grid-template-columns: 1fr;
    }
    .freeGuide .info-block-guide .block .inputEmail {
        margin-bottom: 25px;
    }
    .work .linkA {
        margin-top: 75px;
    }
    .freeGuide .info-block-guide .block.dieBlock {
        order: 1;
    }
    .freeGuide .info-block-guide .block.getFree {
        order: 2;
    }
}
@media screen and (max-width: 800px) {
    .welcomeBlock .welcomeBlockMain .h1 {
        font-size: 50px;
    }
    .welcomeBlock .welcomeBlockMain .h2 {
        margin-bottom: 30px;
    }
    .welcomeBlock .welcomeBlockMain .h2 {
        font-size: 26px;
    }
    header {
        padding: 40px 0;
    }
    .welcomeBlock .welcomeBlockMain {
        width: 70%;
    }
}
@media screen and (max-width: 767px) {
    header .header {
        grid-template-columns: 1fr;
    }
    .welcomeBlock .welcomeBlockMain .h1 {
        font-size: 45px;
    }
    .welcomeBlock .welcomeBlockMain .h2 {
        font-size: 24px;
    }
    .welcomeBlock .bg-img {
        display: none;
    }
    .welcomeBlock .welcomeBlockMain {
        position: inherit;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
    }
    .welcomeBlock {
        padding: 60px 0 200px;
        background-color: var(--color-5);
        position: relative;
    }
    .welcomeBlock::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75px;
        background-image: url('../images/clouds.png');
        background-repeat: no-repeat;
        background-size: cover
    }
    .featuresOfUse .featuresOfUseMain .info-block .block.blocksInfo .item {
        gap: 20px;
    }
    .startPromote .paymentMain .payment {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 650px) {
    header .header nav,
    header .header .btn-header .order-promotion {
        display: none;
    }
    header .header {
        grid-template-columns: auto auto;
    }
    header .btn-header {
        grid-column: auto;
    }
    .welcomeBlock .welcomeBlockMain {
        width: 100%;
    }
    .startPromote .paymentMain .payment .methodInput .selectionMethod .methodImg {
        width: 90px;
        height: 40px;
    }
    footer .footer {
        gap: 50px;
    }
    .payment .paymentMain .info-block .block {
        padding: 15px 25px;
    }
}
@media screen and (max-width: 480px) {
    .featuresOfUse .featuresOfUseMain .info-block {
        display: none;
    }
    .featuresOfUse .featuresOfUseMain .featuresOfUse-carousel {
        display: block;
    }
    footer .footer {
        grid-template-columns: 1fr;
    }
    footer .footer .block .img-logo {
        display: inline-block;
        width: auto;
    }
    .featuresOfUse .featuresOfUseMain .linkA {
        display: none;
    }
    .startPromoteMain .order-block .carousel-form-block .slick-list, .work .workMain .work-carousel {
        width: calc(100% - 90px);
    }
}


@media screen and (max-width: 390px) {
    header .header .logo-img {
        width: 120px;
    }
    header .btn-header, header .btn-header .nav-lk-lang {
        font-size: 14px;
    }
    header .btn-header .nav-lk-lang a {
        padding: 7px;
    }
}