:root {
    --bg: #fff;
    --white: #fff;
    --bgGray: #F9F9F9;
    --color-1: #3B3663;
    --color-2: #696687;
    --color-3: #FF7526;
    --color-4: #F2A611;
    --color-5: #4201BC;
    --color-6: #43008D;
    --gr: linear-gradient(90deg, rgba(242,166,17,1) 0%, rgba(255,117,38,1) 100%);
    --gray: #F0EBEB;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--color-1);
    font-family: 'Nunito', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bolder;
}
.h2 {
    font-size: 30px;
}
.h3 {
    font-size: 20px;
}
.h5 {
    font-size: 14px;
}
a {
    color: var(--white);
    text-decoration: none;
}
a:hover {
    color: var(--white);
}
input {
    outline: none;
    border: 0;
}
.bgGray {
    background-color: var(--bgGray);
}
header {
    background-color: var(--color-5);
    padding: 45px 0;
    color: var(--white);
}
header .header .logo-img {
    width: 165px;
}
header .header .logo-img img {
    width: 100%;
    object-fit: contain;
}
header .header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
}
header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
}
header .btn-header,
header .btn-header .nav-lk-lang {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}
header .btn-header {
    gap: 80px;
}
header .btn-header .nav-lk-lang {
    gap: 20px;
}
header .header .btn-header .order-promotion {
    padding: 12px 20px;
}
header .header .btn-header .btn-border {
    outline: 2px solid var(--color-4);
    outline-offset: -2px;
}
.btnA {
    display: block;
    border-radius: 6px;
}
.btnAll {
    background: var(--gr);
}
header .btn-header .nav-lk-lang a {
    padding: 12px 15px;
    display: block;
}
.welcomeBlock {
    position: relative;
}
.welcomeBlock .welcomeBlockMain {
    width: 40%;
    text-align: center;
    color: var(--white);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.welcomeBlock .welcomeBlockMain .h1 {
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.welcomeBlock .welcomeBlockMain .h2 {
    font-size: 30px;
    margin-bottom: 85px;
    font-weight: normal;
}
.welcomeBlock .bg-img {
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.welcomeBlock .welcomeBlockMain .textInfo .inputLink {
    display: grid;
    justify-content: space-between;
    /* grid-auto-columns: min-content; */
    grid-auto-flow: column;
    grid-template-columns: 1fr;
}
.welcomeBlock .welcomeBlockMain .textInfo .inputLink input {
    padding: 13px 20px;
}
.welcomeBlock .welcomeBlockMain .textInfo .inputLink input:nth-of-type(2) {
    padding: 13px 80px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    transform: translateX(-10px);
}
.welcomeBlock .welcomeBlockMain .textInfo .inputLink input:nth-of-type(1) {
    transform: translateX(10px);
}
.title {
    width: 50%;
    text-align: center;
    margin: 0 auto 50px;
    font-weight: bold;
}
.title .h5 {
    margin-bottom: 20px;
}
.featuresOfUse .featuresOfUseMain .info-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}
.featuresOfUse .featuresOfUseMain .info-block .block.img-block img {
    width: 100%;
}
.featuresOfUse .featuresOfUseMain .info-block .block.blocksInfo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.featuresOfUse .featuresOfUseMain .info-block .block.blocksInfo .item {
    display: grid;
    grid-template-columns: auto auto;
    padding: 22px 35px 22px 40px;
    gap: 40px;
}
.featuresOfUse .featuresOfUseMain .info-block .block.blocksInfo .item img {
    width: 134px;
    height: 114px;
    object-fit: contain;
}
.featuresOfUse .featuresOfUseMain .info-block .block.blocksInfo .item .textMain p {
    color: var(--color-2);
}
.featuresOfUse .featuresOfUseMain .info-block .block.blocksInfo .item .textMain .h3 {
    margin-bottom: 20px;
}
.featuresOfUse .featuresOfUseMain .info-block .block.blocksInfo .item .textMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.featuresOfUse .featuresOfUseMain .info-block .block.blocksInfo .item:nth-of-type(1) {
    background: #F9F8FF;
}
.featuresOfUse .featuresOfUseMain .info-block .block.blocksInfo .item:nth-of-type(2) {
    background: #FFFCF6;
}
.featuresOfUse .featuresOfUseMain .info-block .block.blocksInfo .item:nth-of-type(3) {
    background: #F0FFFC;
}
.linkA {
    width: 100%;
    text-align: center;
    margin-top: 45px;
}
.linkA a {
    display: inline-block;
    padding: 10px 64px;
}
section:not(.welcomeBlock):not(.featuresOfUse) {
    padding: 70px 0;
}
section.featuresOfUse {
    padding-bottom: 70px;
}
.orange {
    color: var(--color-3);
}
.startPromote .startPromoteMain .info-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 20px;
    margin-bottom: 73px;
}
.startPromote .startPromoteMain .info-block .block {
    position: relative;
    background-color: var(--white);
    box-shadow: 0px 9px 10px rgba(223, 209, 209, 0.25);
    border-radius: 2px;
}
.startPromote .startPromoteMain .info-block .block::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
	height: 0;
	border-top: 100px solid var(--color-6); 
	border-left: 140px solid transparent;
}

	
.startPromote .startPromoteMain .info-block .block .block-text {
    padding: 0 37px 20px 22px;
}
.startPromote .startPromoteMain .info-block .block .block-text img {
    width: 124px;
    height: 124px;
    object-fit: contain;
    object-position: left;
}
.startPromote .startPromoteMain .order-block input.inputRel {
    width: 100%;
    background-color: var(--gray);
    padding: 12px 15px;
    border-radius: 4px;
    box-shadow: inset 0px 2px 9px rgba(145, 141, 141, 0.25);
    margin-bottom: 35px;
}
.startPromote .startPromoteMain .order-block .carousel-form .item .title-service {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
    gap: 12px;
}
.startPromote .startPromoteMain .order-block .carousel-form .item .title-service .h3 {
    margin-bottom: 5px;
    font-weight: 600;
}
.startPromote .startPromoteMain .order-block .carousel-form .item .title-service p {
    margin: 0;
    color: var(--color-2)
}
.startPromote .startPromoteMain .order-block .carousel-form .item .qty-sum {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 10px;
}
.startPromote .startPromoteMain .order-block .carousel-form .item .qty-sum .qty {
    margin-left: 30px;
}
.startPromote .startPromoteMain .order-block .carousel-form .item .qty-sum .sum span {
    font-weight: bolder;
}
.startPromote .startPromoteMain .order-block .carousel-form .item .btn-settings a {
    display: inline-block;
    padding: 5px 40px;
    background-color: var(--color-6);
    font-weight: 300;
}

.startPromote .startPromoteMain .order-block input[type=checkbox] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    color: #363839;
    border: 1px solid #bdc1c6;
    border-radius: 4px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
.startPromote .startPromoteMain .order-block input[type=checkbox]::before {
    position: absolute;
    content: "";
    display: block;
    top: 2px;
    left: 7px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
.startPromote .startPromoteMain .order-block input[type=checkbox]:checked {
    color: #fff;
    border-color: var(--color-3);
    background: var(--color-3);
}
.startPromote .startPromoteMain .order-block input[type=checkbox]:checked::before {
    opacity: 1;
}
.startPromote .startPromoteMain .order-block input[type=checkbox]:checked ~ label::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.startPromote .startPromoteMain .order-block .qty-sum input[type=range] {
    outline: 0;
    border: 0;
    border-radius: 8px 20px 20px 8px;
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
    transition: box-shadow 0.2s ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .qty-sum input[type=range] {
        overflow: hidden;
        height: 30px;
        -webkit-appearance: none;
        background-color: var(--gray);
    }
    .qty-sum input[type=range]::-webkit-slider-runnable-track {
        height: 30px;
        -webkit-appearance: none;
        color: #444;
        -webkit-transition: box-shadow 0.2s ease-in-out;
        transition: box-shadow 0.2s ease-in-out;
    }
    .qty-sum input[type=range]::-webkit-slider-thumb {
        width: 17px;
        -webkit-appearance: none;
        height: 30px;
        cursor: ew-resize;
        background: var(--color-6);
        border-radius: 6px;
        -webkit-transition: box-shadow 0.2s ease-in-out;
        box-shadow: -5000px 0 0 4990px var(--color-6), inset 0 0 0 40px var(--color-3);
        transition: box-shadow 0.2s ease-in-out;
        position: relative;
    }
    .qty-sum input[type=range]:active::-webkit-slider-thumb {
    background: var(--color-3);
        box-shadow: -5000px 0 0 4990px var(--color-6), inset 0 0 0 0 var(--color-3);
    }
}
.qty-sum input[type=range]::-moz-range-progress {
    background-color: #43e5f7;
}
.qty-sum input[type=range]::-moz-range-track {
    background-color: #9a905d;
}
.qty-sum input[type=range]::-ms-fill-lower {
    background-color: #43e5f7;
}
.qty-sum input[type=range]::-ms-fill-upper {
    background-color: #9a905d;
}
